<h1 class="text-3xl">Precios del servicio</h1>
<hr class="my-2">
<section>
  <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ipsa laboriosam nesciunt, ea obcaecati deserunt eum, aliquid voluptatum molestias quia optio eligendi! Nulla id quaerat quidem possimus architecto et debitis!
  <br>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae illo omnis sequi unde dolores, non quo qui in molestias eaque consectetur quibusdam enim voluptatem blanditiis voluptatibus tenetur quidem eos sapiente.</p>
</section>
